DEBUG=True
SECRET_KEY=supersecretkey

POSTGRES_DB=adevar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_USE_TLS=False

BACKEND_URL=http://0.0.0.0:8000